{{>layout/header}}
    <h1> 학식 정보 Crawling Web Service</h1>

    <table class = "table table-horizontal table-bordered">
        <thead class = "thead-strong">
        <tr>
            <th>식당</th>
            <th>아침</th>
            <th>점심</th>
            <th>저녁</th>
        </tr>
        </thead>
        <tbody>
        {{#RestaurantMenu}}
        <tr>
            <td>
                {{restaurant}}
            </td>
            <td>
                {{breakfast}}
            </td>
            <td>
                {{lunch}}
            </td>
            <td>
                {{dinner}}
            </td>
        </tr>
        {{/RestaurantMenu}}
        </tbody>
    </table>
